<footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-4 text-center text-md-start">
          <p>&copy; Lalit shendage</p>
        </div>
        <div class="col-sm-12 col-md-8 text-center text-md-end">
          <ul class="list-inline">
            <li>EMPLOYEE REVIEW SYSTEM</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  